.metadata-card {
  background-color: #f5f5f5;
  color: #1c1c1c;
  border-radius: 10px;
  padding: 16px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.metadata-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-weight: bold;
}

.metadata-content {
  margin-top: 12px;
}

.metadata-content ul {
  padding-left: 20px;
  margin-top: 5px;
}
